@model Photicon.Models.UserAllPicturesViewModels
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div id="gallery">
        @Html.Partial("_MainNavbar", Model.User)
        <div class="container text-center">
            <div id="pictures">
                @Html.Partial("_PictureGalleryPartialView")
            </div>
        </div>
    </div>
</div>
<script>
    $(".dropdown").hover(
        function (event) {
            $('.dropdown-menu').css('display', 'block');
            $(this).css('backgroundColor', 'rgba(0,0,0,0.2)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0.2)');
        },
        function (event) {
            $('.dropdown-menu').css('display', 'none');
            $(this).css('backgroundColor', 'rgba(0,0,0,0)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0)');
        }
    );
    $(".popoverLikes").hover(
        function (event) {
            $(this).siblings('.popup').css('display', 'block');
        },
        function (event) {
            $(this).siblings('.popup').css('display', 'none');
        }
    );
</script>
